---
export interface Props {
  href: string;
}

const { href } = Astro.props;
---

<!-- prettier-ignore -->
<a
  class="text-cyan-200 transition-all hover:text-cyan-400"
  href={href}
  target="_blank"
  rel="noopener"
  ><slot /></a>
