---
import Layout from '../layouts/BaseLayout.astro';

const title = 'Page not found';
const description = 'My personal website with my projects and blog.';
---

<Layout title={title} description={description}>
  <div
    class="p-4 sm:p-16 flex flex-col w-full items-center justify-center text-center bg-cyan-900 transition-all"
  >
    <h2 class="text-2xl sm:text-4xl transition-all">
      It looks like you're lost.
    </h2>
    <p class="mt-8 sm:text-lg transition-all">
      The page you're looking for doesn't exist.
    </p>
    <a
      class="mt-12 sm:mt-16 p-2 border-2 hover:border-cyan-400 hover:text-cyan-400 transition-all"
      href="/"
    >
      Go back home
    </a>
  </div>
</Layout>
