---
export interface Props {
  canonicalURL: string;
  description: string;
  title: string;
}

const { canonicalURL, description, title } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#164e63" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="sitemap" href="/sitemap.xml" />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="author" content="Leosvel Pérez Espinosa" />
<meta name="description" content={description} />
<meta
  name="keywords"
  content="Leosvel Pérez Espinosa, Blog, Web Development, Angular, JavasScript, TypeScript, HTML, CSS, Monorepos, Nx"
/>
<link rel="canonical" href={canonicalURL} />

<style global>
  @import '../styles/global.css';
</style>
