---
export interface Props {
  title: string;
  date: string;
  heroImage: string;
  heroImageAlt: string;
}

const { title, date, heroImage, heroImageAlt } = Astro.props;
---

<article
  class="max-w-full sm:max-w-xl md:max-w-2xl lg:max-w-4xl mx-auto px-4 py-12 sm:px-8 md:px-12 text-sm sm:text-base text-cyan-900 leading-8 sm:leading-8 transition-all"
>
  <section class="mb-16 text-center">
    <img
      class="mb-16 w-full h-60 sm:h-80 md:h-[420px] object-cover"
      height="420"
      width="auto"
      src={heroImage}
      alt={heroImageAlt}
    />
    <p class="m-0">{date}</p>
    <h1 class="text-2xl sm:text-4xl font-bold transition-all">{title}</h1>
  </section>

  <main class="blog-content">
    <slot />
  </main>

  <a
    class="mt-8 inline-block underline underline-offset-2 text-cyan-700 hover:bg-cyan-700 hover:text-white"
    href="/blog">&leftarrow; Return to all blog posts</a
  >
</article>

<style lang="scss">
  .blog-content {
    :global(> * + *) {
      @apply mt-4;
    }

    :global(h2) {
      @apply mt-12 text-xl font-bold;
    }

    :global(h3) {
      @apply mt-6 text-lg font-bold;
    }

    :global(a) {
      @apply underline underline-offset-2 text-cyan-700 hover:bg-cyan-700 hover:text-white;
    }

    :global(code) {
      @apply bg-gray-100 italic px-1 rounded-sm;
    }

    :global(blockquote) {
      @apply pl-4 border-l-4 border-cyan-700 italic;
    }

    :global(ul) {
      @apply list-disc list-inside ml-4;
    }

    :global(li > ul) {
      @apply list-circle ml-6;
    }

    :global(li > ul > li > ul) {
      @apply list-square ml-6;
    }

    :global(h2),
    :global(h3) {
      @apply flex items-center;

      &:hover :global(a) {
        @apply opacity-100;
      }

      :global(a) {
        @apply hidden sm:block opacity-0 leading-4 -ml-5 pr-1 transition-all hover:bg-transparent;
      }
    }

    :global(.heading-link img) {
      @apply h-4 w-4 fill-current;
    }
  }
</style>
