<div class="py-12 flex flex-col w-full items-center justify-center bg-gradient-to-b from-cyan-900 to-cyan-700 selection:bg-cyan-900">
  <img class="rounded-full w-48 shadow-2xl shadow-black/40 grayscale" src="/assets/avatar.jpeg" height="192" width="192" alt="Leosvel Pérez Espinosa avatar" />

  <div class="flex flex-col mt-8 max-w-full sm:max-w-2xl xl:max-w-4xl px-6 sm:px-12 items-center transition-all">
    <h2 class="text-center text-2xl sm:text-4xl transition-all">Hi! I'm Leosvel.</h2>

    <p class="mt-8 text-center text-lg sm:text-xl transition-all">
      I'm a Software Engineer who, for the last 10+ years, has mainly been working with technologies such as
      <span class="text-orange-400">JavaScript</span>, <span class="text-orange-400">TypeScript</span>, <span class="text-orange-400">Node.js</span>, and <span class="text-orange-400">.NET</span>.
    </p>
    <p class="mt-8 text-center text-lg sm:text-xl transition-all">Lately, I've been more focused on frontend development and monorepo tooling with <span class="text-orange-400">Nx</span>.</p>
  </div>
</div>
